.Rproj.user
.Rhistory
.RData
.Ruserdata
predicting-functional-impairment.Rproj
data/coorte-t1-t2-24-08-17.csv
data/coorte-t1-t2-24-08-17.sav
sessions/*
cache/*
scripts/app/data/*
scripts/app/rsconnect/*
